NGROK_AUTHTOKEN=
APP_PORT=8080
NGROK_INSPECTOR_PORT=4040
AI_DEFAULT_PROVIDER=claude
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
XAI_API_KEY=
HUGGINGFACE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
